.mine-slider-indicator {
	/*	position: absolute;*/
	/*	bottom: 8px;*/
	width: 20%;
	text-align: center;
	background: 0 0
}

.mine-slider-indicator .mine-indicator {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 1px 2px;
	cursor: pointer;
	border-radius: 50%;
	background: #aaa;
	-webkit-box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7);
	box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7)
}

.mine-indicator.mine-active {
	background-color: white;
}

body,
.mui-content {
	background: white;
}

#sliderSegmentedControl,
.mui-segmented-control.mui-scroll-wrapper .mui-scroll {
	height: 0px;
}

.mui-fullscreen .mui-segmented-control~.mui-slider-group {
	top: 0px;
	background-color: white;
}

.mui-slider .mui-slider-group .mui-slider-item .mui-table-view-cell:after {
	height: 1px;
}

.mui-scroll-wrapper,
.mui-pull-bottom-wrapper {
	/*底部加载更多区域*/
	background-color: white;
}

