/*桐乡样式*/
.head-img,.head-portrait{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	/*max-width: 20%;*/
}
.head-img{
	max-width: 15%;
}
/**
 * 中间信息宽度
 */
.info-container{
	max-width: 60%;
	padding-left:.5rem;
}
.attention-btn{
	max-width: 25%;
	float: right;
	margin-top: 1rem;
}
/*.mui-table-view-cell:last-of-type{
	padding-right: .5rem;
}*/
.li-container{
	height: 6rem;
	/*text-align: center;*/
}

