.img-container{
	float: left;
	max-width: 20%;
	min-width: 5rem;
	text-align: start;
	/*padding:1rem;*/
}
.head-img{
	width: 4rem;
	height:4rem;
}
.comment-container{
	display: inline-block;
	width: 78%;
}
.icon-fasong{
	color: gainsboro;
	font-size: 2.4rem;
}
.input-footerContainer{
	background-color: white;
	height: 60px;
	padding-left: 5px;
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: 9999;
}
.order-selector{
	appearance:none;
	background: url(../../image/qiuzhi/arraw-down.png) no-repeat right center transparent;
	max-width: 100px;
}
.img-portrait{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	max-width: 15%;
}
.export-info{
	max-width: 55%;
	padding-left:5px;
}
.anthor-container{
	padding: 8px 5px;
	height: 60px;
	position: fixed;
	width: 80%;
	left: 10%;
	border: solid 1px gray;
	z-index: 50;
	background-color: white;
	border-radius: 10px;
}
.questionContent-container{
	padding:0 10px;
	padding-top: 40px;
	border-bottom: solid gray 1px;
	background-color: white;
}
.question-container{
	padding: 5px 10px 40px 5px;
	/*padding-top:5px;
	padding-bottom: 40px;*/
	border-bottom: solid 1px gray;
	background-color: white;
}
.comments-info{
	position: relative;
	min-height: 45px;
	padding: 0 10px;
}
.comment-no{
	font-size: 14px;
	padding-top: 10px;
}
.order-selector{
	position: fixed;
	right: 0;
}
.head-img{
	border-radius: 50%;
}
.answer-imgs{
	width: 100%;
}
.btn-attention{
	margin-top: 5px;
	min-width: 4rem;
	max-width: 25%;
	color: white;
	background-color:#1db8F1;
}
.question-content{
	word-wrap: break-word;
}
.isLike{
	color:darkgray;
}
.isNotLike{
	color: #000000;
}
/*评论内容*/
.comment-words{
	word-wrap: break-word;
}
.answer-comment{
	box-shadow: 0px -1px 2px #E4E4E4 !important;
}
.support-container{
	padding: 0 0 2rem 2rem;
}
.imgs-container{
	min-width: 100%;
}
