.search-form .mui-icon-clear
{
	position: relative!important;
	top: 1px!important;
    right: 38px!important;
    
    margin-right: -38px!important;
}
  

.search-form .mui-input-row {
	line-height: 2rem;
	text-align: left;
}

.search-form .search-btn {
	width: 11%;
 
}

.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
	color: #fff;
	border: #13b7f6;
	background-color: #13b7f6;
	font-size: 1.5rem;
	font-weight: bold;
}
.mui-btn-blue,
.mui-btn-primary,
input[type=submit]:enabled:active {
	color: #fff;
	border: #13b7f6;
	background-color: #13b7f6;
	font-size: 1.5rem;
	font-weight: bold;
}
.mui-bar .mui-title
{
	width: 100%;
}
.search-form input:nth-child(1) {
	width: 75%;
	background-color: #ffffff;
	text-align: left;
	border-radius: 50px;
	color: #000000;
}


.icon-del
{
	    width: 3rem;
    text-align: center;
	float: right;
}
.icon-del:after {
	font-size: 19px;
	color: #bbb;
	content: '\e646';
	font-family: iconfont!important;
}

.search-input {
	max-width: 80%;
}

.mui-search .mui-placeholder {
	text-align: left;
	padding-left: .5rem;
	font-size: 1.5rem;
}

.mui-input-row.mui-search .mui-icon-clear {
	right: 20%;
}

#list-container {
	padding-top: 3.5rem;
}

