.navigation{
	position: relative;
}
.main-navigation{
	max-width: 80%;
}
.more-navigation{
	position: absolute;
	height: 45px;
	right: 0;
	top: 0;
	text-align: center;
	padding:5px 10px;
	border: solid thin #000000 2px;
	box-shadow: -5px 0 5px -3px black;
}
.mui-slider-indicator:last-of-type{
	height: 4rem;
	background-color: #ffffff;
}
.mui-control-item:last-of-type{
	height: 4rem;
}

.icon-qita{
	color:grey;
}
.more-navigation p{
	line-height: 50%;
}


