.img-container{
	float: left;
	max-width: 20%;
	min-width: 5rem;
	text-align: start;
	/*padding:1rem;*/
}
.head-img{
	width: 4rem;
	height:4rem;
}
.comment-container{
	display: inline-block;
	width: 78%;
}
.icon-fasong{
	color: gainsboro;
	font-size: 2.4rem;
}
.input-footerContainer{
	padding-left: 5px;
}
