
 @font-face {font-family: "iconfont";
  src:url('../../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
}

.icon-bianji:before { content: "\3486"; }

.icon-close:before { content: "\e646"; }

.icon-zone:before { content: "\e64c"; }

.icon-guanbi:before { content: "\e614"; }

.icon-shexiangji:before { content: "\e60e"; }

.icon-xie:before { content: "\e604"; }

.icon-fanxiangpaixu:before { content: "\e619"; }

.icon-trash:before { content: "\e620"; }

.icon-fenxiang:before { content: "\e600"; }

.icon-jia:before { content: "\e60a"; }

.icon-kongjian:before { content: "\e669"; }

.icon-newmessage:before { content: "\e731"; }

.icon-shezhi:before { content: "\e606"; }

.icon-yunpan1:before { content: "\e694"; }

.icon-shezhi1:before { content: "\e631"; }

.icon-group:before { content: "\e753"; }

.icon-jifen:before { content: "\e6db"; }

.icon-jiaqun:before { content: "\e60d"; }

.icon-mic:before { content: "\e666"; }

.icon-date:before { content: "\e6eb"; }

.icon-about:before { content: "\e605"; }

.icon-zanzan:before { content: "\e60b"; }

.icon-zanzan1:before { content: "\e602"; }

.icon-tianjia:before { content: "\e7f7"; }

.icon-ruqun:before { content: "\e66e"; }

.icon-jixiaofenshuchaxun:before { content: "\e66c"; }

.icon-paixu:before { content: "\e675"; }

.icon-liaotian:before { content: "\e603"; }

.icon-qun:before { content: "\e60f"; }

.icon-shubendisc:before { content: "\e682"; }

.icon-xiaoxizhongxin:before { content: "\e611"; }

.icon-xie1:before { content: "\e608"; }

.icon-qunziliao:before { content: "\e615"; }

.icon-upload:before { content: "\e632"; }

.icon-download:before { content: "\e63b"; }

.icon-yunpan:before { content: "\e607"; }

.icon-lishijilu:before { content: "\e621"; }

.icon-renren:before { content: "\e609"; }

.icon-liaotian1:before { content: "\e601"; }

.icon-imge:before { content: "\e650"; }

.icon-xinxiaoxi:before { content: "\e673"; }

.icon-tingzhi:before { content: "\e62f"; }

.icon-allfolder:before { content: "\e66a"; }

.icon-newfolder:before { content: "\e625"; }

.icon-chuanshu:before { content: "\e61d"; }

.icon-wenda:before { content: "\e655"; }

.icon-jiaoxiaoquan:before { content: "\e8fe"; }

.icon-word:before { content: "\e7e8"; }

.icon-xianshi:before { content: "\e861"; }

.icon-fabu:before { content: "\e863"; }

.icon-support:before { content: "\e905"; }

.icon-jiujiajingicon02-copy:before { content: "\e907"; }

.icon-dili:before { content: "\e61b"; }

.icon-shengwu:before { content: "\e61e"; }

.icon-zhengzhi:before { content: "\e61f"; }

.icon-jiaobaoyuntubiao:before { content: "\e610"; }

.icon-excel:before { content: "\e8aa"; }

.icon-mp3:before { content: "\e8ab"; }

.icon-video:before { content: "\e8ac"; }

.icon-txt:before { content: "\e8ad"; }

.icon-zip:before { content: "\e8ae"; }

.icon-file:before { content: "\e8af"; }

.icon-pdf:before { content: "\e8e2"; }

.icon-yunnofile:before { content: "\e8e3"; }

.icon-yingyu:before { content: "\e617"; }

.icon-lishi:before { content: "\e613"; }

.icon-wuli1:before { content: "\e61c"; }

.icon-qita:before { content: "\e612"; }

.icon-yuwen:before { content: "\e616"; }

.icon-yasuobao:before { content: "\e8e4"; }

.icon-huaxue:before { content: "\e618"; }

.icon-shuxue:before { content: "\e61a"; }

.icon-xiangji:before { content: "\e60c"; }

.icon-yuyin:before { content: "\e622"; }

.icon-shipin:before { content: "\e623"; }

.icon-xiangji1:before { content: "\e624"; }

.icon-xiangce:before { content: "\e908"; }