/*课程容器*/

.course-container {
	display: flex;
	display: -webkit-flex;
}


/**
 * 课程图片
 */

.course-img {
	width: 80px;
	height: 50px;
}


/**
 * 课程详情
 */

.course-detail {
	width: 20%;
	flex-grow: 1;
}


/**
 * 课程名称和按钮
 */

.courseName-button {
	display: flex;
	display: -webkit-flex;
	padding-bottom: 15px;
}


/**
 * 课程名称
 */

.coursre-name {
	width: 50%;
	flex-grow: 1;
	font-size: 16px;
	color: #323232;
}
.course-info{
	font-size: 15px;
	color: #808080;
}

/**
 * 课程按钮
 */

.input-btn {
	width: 50px;
	height: 20px;
	font-size: 12px;
}


/**
 * 已关注
 */

.btn-focused {
	border: solid 1px darkgray;
	color: darkgray;
}


/**
 * 未关注
 */

.btn-unfocus {
	border: solid 1px #1DB8F1;
	color: #1DB8F1;
}