<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/utils/common.css" rel="stylesheet" />
	</head>

	<body>
		<!--下拉刷新容器-->
		<div id="sciedu-list" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div v-if="isSwiping" style="text-align: center;margin-top: 50%;">
					<p><span class="mui-spinner"></span></p>
					<p>数据加载中...</p>
				</div>
				<!--数据列表-->
				<template v-else v-show="listData.length>0">
					<ul class="mui-table-view">
						<li v-for="item of listData" class="mui-table-view-cell">
							<p>{{item.title}}</p>
							<p>{{getTips(item)}}</p>
							<template v-if="getImgs(item).length>0">
								<img v-if="getImgs(item).length===1" v-bind:src="getImgs(item)[0]"/>
								<div v-else class="imgs-container">
									<img v-for="img of getImgs(item)" v-bind:src="img" />
								</div>
							</template>
						</li>
					</ul>
				</template>
			</div>
		</div>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/sciedu/sciedu-list.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/publicProtocol.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			var curIndex = 0;
			var cities = [];
			mui.init({
				pullRefresh: {
					container: '#sciedu-list',
					down: {
						style: 'circle',
						offset: 0,
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: "上拉加载更多",
						callback: pullupRefresh
					}
				}
			});
		
			/**
			 * 下拉刷新回调方法
			 */
			function pulldownRefresh() {
				scieduList.resetPageInfo();
				scieduList.requireListData(function() {
					mui('#sciedu-list').pullRefresh().endPulldown();
					mui('#sciedu-list').pullRefresh().refresh(true);
				})
			}
			/**
			 * 上拉加载更多回调方法
			 */
			function pullupRefresh() {
				if(scieduList.pageInfo.pageIndex > scieduList.pageInfo.totalPage) {
					mui('#sciedu-list').pullRefresh().disablePullupToRefresh();
					return;
				}
				scieduList.requireListData(function() {
					mui('#sciedu-list').pullRefresh().endPullupToRefresh();
				})
			}
			mui.plusReady(function() {
				console.log("****sciedu-list.html准备完毕")
				setListeners();
				mui.fire(plus.webview.currentWebview().opener(),"listReady");
			});

			function setListeners() {
				window.addEventListener("seCities", function(e) {
					cities = e.detail.data;
					curIndex=0;
					console.log("****sciedu-list获取的城市信息:", cities)
					scieduList.cityInfo = cities[curIndex];
				})
				window.addEventListener("swipeleft", function(e) {
					console.log("sciedu-list.html的向左滑动事件");
					changeCity(0);
				})
				window.addEventListener("swiperight", function(e) {
					console.log("sciedu-list.html的向右滑动事件")
					changeCity(1);
				})
			}
			/**
			 * 
			 * @param {Object} dir 0为向左滑 1为右滑
			 */
			function changeCity(dir) {
				if(cities.length===1){
					return;
				}
				scieduList.isSwiping = true;
				console.log("sciedu-list cities的长度：" + cities.length + ";" + typeof(cities.length))
				if(dir) {
					curIndex = (curIndex + cities.length - 1) % cities.length;
				} else {
					curIndex = (curIndex + 1) % cities.length;
				}
				console.log("sciedu-list.html传递的index值：" + curIndex)
				scieduList.cityInfo = cities[curIndex];
				events.fireToPageNone("sciedu-home.html", "curCity", curIndex);
			}
		</script>
	</body>

</html>