<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/utils/fresh.css" />
		<link rel="stylesheet" type="text/css" href="../../css/utils/common.css" />
		<link rel="stylesheet" href="../../css/show/show-list.css" />
		<style>
			.mui-slider-indicator {
				margin-left: -10px;
				bottom: -3px;
			}
			
			.mui-slider-indicator .mui-indicator {
				margin: 1px 2px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">关注</h1>
			<div id="header-indicator" class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
			</div>
			<a id="publish-show" class="mui-pull-right">发布</a>
		</header>
		<!--	<div class="">-->
		<!--slider控件-->
		<div id="slider" class="mui-content mui-slider mui-fullscreen">
			<div  class="mui-slider-group">
				<div id="show-attended" class="mui-slider-item">
					<div class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="show-list">
								<div v-for="card of attendedList" class="mui-table-view cityNews-container">
									<li v-for="item of card" class="mui-table-view-cell news-container" v-on:tap="jumpToDetail()">
										<div class="img-container news-img" v-bind:data-original="getItemImg(item)" style="background-image:url(../../image/utils/video-loading.gif);text-align:center;background-position:center;background-size:cover;">
											<img v-if="isVideo(item)" class="play-video" src="../../image/utils/playvideo.png" />
										</div>
										<div class="news-words">
											<p class="news-title single-line">{{item.MsgTitle }}</p>
											<div class="anthor-date">
												<p class="news-anthor single-line">{{ item.unick }}</p>
												<p class="news-date">
													{{item.PublishDate}}
												</p>
											</div>
										</div>
									</li>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--加载的范围-->
			<div class="mui-slider-group">
				<div id="show-all" class="mui-slider-item">
					<div class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="show-list">
								<div v-for="card of allList" class="mui-table-view cityNews-container">
									<li v-for="item of card" class="mui-table-view-cell news-container" v-on:tap="jumpToDetail(item)">
										<div class="img-container news-img" v-bind:data-original="getItemImg(item)" style="background-image:url(../../image/utils/video-loading.gif);text-align:center;background-position:center;background-size:cover;">
											<img v-if="isVideo(item)" class="play-video" src="../../image/utils/playvideo.png" />
										</div>
										<div class="news-words">
											<p class="news-title single-line">{{item.MsgTitle }}</p>
											<div class="anthor-date">
												<p class="news-anthor single-line">{{ item.unick }}</p>
												<p class="news-date">
													{{item.PublishDate}}
												</p>
											</div>
										</div>
									</li>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--</div>-->
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/show/showList.js"></script>
		<script src="../../js/show/show-list.js"></script>
		<script src="../../js/utils/events.js"></script>
		<!--刷新js-->
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script src="../../js/publicProtocol.js"></script>
		<!--jQuery懒加载js-->
		<script src="../../js/libs/jquery.lazyload.min.js"></script>
		<!--本页使用的js-->
		<script>
			mui.init();
			document.getElementById("show-all").showCity = {
				pageFlag: 1, //全部
				acode: 1,
				aname: '全部',
				aflag: 1, //0为根据省市编码获取数据，1为获取关注的人的列表
				pageIndex: 1,
				totalPage: 0
			}
			//阻尼系数
			var deceleration = mui.os.ios ? 0.003 : 0.0009;
			//plusReay事件监听
			mui.plusReady(function() {
				//show-all加载刷新
				initFresh(document.getElementById("show-all"));
				//show-all获取数据
				show_listnew.getShowList(document.getElementById("show-all").showCity, document.getElementById("show-all").querySelector(".show-list"), show_listnew.setShowList)
				//获取是否有关注的人，加载或删除关注模块
				getFocusedPerson();
				//加载监听
				show_listnew.setListListener();
				showList.$watch("allList", function(newVal, oldVal) {
					console.log("allList:我变了吗？？？");
					console.log("allList:" + document.getElementById("show-all").innerHTML);
					showList.updateData();
				})
				showList.$watch("attededList", function(newVal, oldVal) {
					console.log("attendedList:我变了吗？？？");
					showList.updateData();
				})
				showList.$watch("isAttended", function(newVal, oldVal) {
					console.log("isAttended newVal:" + newVal + " oldVal:" + oldVal);
					if(newVal) {
						document.getElementById("header-indicator").style.display = "block";
						showList.$nextTick(function() {
							document.getElementById("show-attended").showCity = {
								pageFlag: 0, //关注
								acode: 1,
								aname: '关注',
								aflag: 1, //0为根据省市编码获取数据，1为获取关注的人的列表
								pageIndex: 1,
								totalPage: 0
							}
							initFresh(document.getElementById("show-attended"));
							show_listnew.getShowList(document.getElementById("show-attended").showCity, document.getElementById("show-attended").querySelector(".show-list"), show_listnew.setShowList)
							setTitle(11);
						})

					} else {
						document.getElementById("header-indicator").style.display = "none";
					}
				})
				//加载滑动监听
				addSlider();
				//加载关注的监听
				window.addEventListener("focus", function() {
					console.log("关注传过来的值！");
					getFocusedPerson();
				});
				//加载用户登陆的监听
				window.addEventListener("infoChanged", function() {
					console.log("********展现监听infoChanged")
					//					toggleAttendedPart(0);
					mui(document.getElementById("show-all").querySelector(".mui-scroll-wrapper")).scroll().scrollTo(0, 0);
					document.getElementById("show-all").showCity.pageIndex = 1;
					show_listnew.getShowList(document.getElementById("show-all").showCity, document.getElementById("show-all").querySelector(".show-list"), show_listnew.setShowList)
					getFocusedPerson();
				})
			});
			//滑动监听方法
			function addSlider() {
				document.getElementById('slider').addEventListener('slide', function(e) {
					console.log("slider状态：" + JSON.stringify(e.detail))
					if(e.detail.slideNumber == 0) {
						if(document.getElementById("show-attended")) {
							setTitle(11);
						} else {
							setTitle(0);
						}
					} else if(e.detail.slideNumber == 1) {
						if(document.getElementById("show-attended")) {
							setTitle(10);
						} else {
							setTitle(0);
						}

					}
				});
			}
			/**
			 * 设置标题
			 * @param {Object} type 0 只有全部 10 显示全部 11 显示关注
			 */
			function setTitle(type) {
				var title = document.querySelector(".mui-title");
				var indicator = document.querySelector("#header-indicator");
				switch(type) {
					case 0: //全部
						title.innerText = "全部";
						indicator.style.display = "none";
						break;
					case 10: //全部
						title.innerText = "全部";
						indicator.style.display = "block";
						indicator.firstElementChild.className = "mui-indicator";
						indicator.lastElementChild.className = "mui-indicator mui-active";
						break;
					case 11: //关注
						title.innerText = "关注";
						indicator.style.display = "block";
						indicator.firstElementChild.className = "mui-indicator mui-active";
						indicator.lastElementChild.className = "mui-indicator";
						break;
					default:
						break;
				}
			}
			/**
			 * 加载刷新模块
			 * @param {Object} freshConatiner
			 */
			function initFresh(freshConatiner) {
				mui(freshConatiner.querySelector('.mui-scroll-wrapper')).scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration: deceleration
				});
				mui(freshConatiner.querySelector(".mui-slider-group .mui-scroll")).pullToRefresh({
					down: { //下拉刷新
						callback: function() {
							var self = this;
							var ul = freshConatiner.querySelector('.show-list');
							freshConatiner.showCity.pageIndex = 1;
							console.log("获取的fresh:" + JSON.stringify(freshConatiner.info))
							show_listnew.getShowList(freshConatiner.showCity, ul, show_listnew.setShowList);
							setTimeout(function() {
								self.endPullDownToRefresh();
							}, 1500);
						}
					},
					up: { //上拉加载
						callback: function() {
							var self = this;
							if(freshConatiner.showCity.pageIndex <= freshConatiner.showCity.totalPage) {
								var ul = freshConatiner.querySelector('.show-list');
								show_listnew.getShowList(freshConatiner.showCity, ul, show_listnew.setShowList);
								setTimeout(function() {
									self.endPullUpToRefresh();
								}, 1500);
							} else {
								self.endPullUpToRefresh();
								freshConatiner.querySelector(".mui-pull-loading").innerHTML = "没有更多了";
							}
						}
					}
				});
			}
			/**
			 * 获取关注的人
			 * @param {Object} callback 回调方法
			 */
			function getFocusedPerson() {
				if(!events.getUtid()) {
					var showFocusedPersen = myStorage.getItem(storageKeyName.SHOWFOCUSEPERSEN);
					if(showFocusedPersen && showFocusedPersen.length > 0) {
						showList.isAttended = true;
					} else {
						showList.isAttended = false;
					}
					return
				}
				var wd = events.showWaiting();
				postDataPro_getFocusByUser({
					userId: events.getUtid()
				}, wd, function(data) {
					wd.close();
					console.log("获取关注的人列表" + JSON.stringify(data));
					if(data.RspCode == 0 && data.RspData.Users.length > 0) {
						showList.isAttended = true;
					} else {
						showList.isAttended = false;
					}
				})
			}
			/**
			 * 加载或删除关注模块的具体方法
			 * @param {Object} type 0 删除关注 1 加载关注
			 */
			//			function toggleAttendedPart(type) {
			//				console.log("加载关注部分：" + type);
			//				var sliderGroup = document.querySelector(".mui-slider-group");
			//				if(type) {
			//					if(!document.getElementById("show-attended")) {
			//						sliderGroup.insertBefore(createAttendedFragment(), document.querySelector("#show-all"));
			//						document.getElementById("show-attended").showCity = {
			//							pageFlag: 0, //关注
			//							acode: 1,
			//							aname: '关注',
			//							aflag: 1, //0为根据省市编码获取数据，1为获取关注的人的列表
			//							pageIndex: 1,
			//							totalPage: 0
			//						}
			//						initFresh(document.getElementById("show-attended"));
			//						show_listnew.getShowList(document.getElementById("show-attended").showCity, document.getElementById("show-attended").querySelector(".show-list"), show_listnew.setShowList)
			//						setTitle(11);
			//					}
			//				} else {
			//					if(document.getElementById("show-attended")) {
			//
			//						sliderGroup.removeChild(document.getElementById("show-attended"));
			//					}
			//					var slider = mui('#slider').slider();
			//					//跳转到第一个模块
			//					slider.gotoItem(0);
			//					setTitle(0);
			//				}
			//			}
		</script>
	</body>

</html>