<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/utils/common.css" rel="stylesheet" />
		<link href="../../css/show/show-list.css" rel="stylesheet" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			
			.mui-slider-indicator {
				margin-left: -10px;
				bottom: -3px;
			}
			
			.mui-slider-indicator .mui-indicator {
				margin: 1px 2px;
			}
		</style>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">关注</h1>
			<div id="header-indicator" class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
			</div>
			<a id="publish-show" class="mui-pull-right" style="">发布</a>
		</header>
		<div id="show-list" class="mui-content">
			<transition>
				<keep-alive>
					<router-view></router-view>
				</keep-alive>
			</transition>
		</div>
		<template id="show-list">
			<div class="show-list">
				<div v-for="cardData of listData" class="mui-table-view cityNews-container">
					<li v-for="(item,index) of cardData" class="mui-table-view-cell news-container" v-on:tap="jumpToPage(item)">
						<div class="img-container news-img" v-bind:data-original="getBackImg(item,index)" v-bind:style="{'background-image':'url('+'../../image/utils/default_load_2.gif'+')','background-position':'center','background-size':'cover','text-align':'center'}">
							<img class="play-video" v-if="isVideo(item)" src="../../image/utils/playvideo.png" />
						</div>
						<div class="news-words">
							<p class="news-title single-line">{{item.MsgTitle}}</p>
							<div class="anthor-date">
								<p class="news-anthor single-line">{{item.unick}}</p>
								<p class="news-date">{{item.PublishDate}}</p>
							</div>
						</div>
					</li>
				</div>
			</div>
		</template>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/vue-router.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/publicProtocol.js"></script>
		<script src="../../js/show/show-list.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/libs/jquery.lazyload.min.js"></script>
		<script src="../../js/show/find-list.js"></script>
		<script type="text/javascript">
			mui.init({
				keyEventBind: {
					backbutton: false //关闭back按键监听
				},
				pullRefresh: {
					container: '#find-list',
					down: {
						style: 'circle',
						offset: 0,
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});

			function pulldownRefresh() {

			}

			function pullupRefresh() {

			}
			const findList = {
				template: '<find-list v-bind:findInfo="$root.showInfo"></find-list>',
				methods: {

				}
			}
			const router = new VueRouter({
				mode: '',
				routes: [{
					path: 'find/:id',
					name: 'find',
					component: findList
				}]
			});
			var showList;
			mui.plusReady(function() {
				setVue();
				setListener();
				getFocusedPerson(function(hasFocused) {
					showList.hasAttended = hasFocused;
					console.log("show-home2.html 关注的状况：" + hasFocused);
					showList.routerTo((hasFocused + 1) % 2);
				})
			})

			function setListener() {
				//左滑
				window.addEventListener("swipeleft", function(e) {
					console.log("show-home2.html的向左滑动事件");
					showList.changePart(0);
				})
				//右滑
				window.addEventListener("swiperight", function(e) {
					console.log("show-home2.html的向右滑动事件")
					showList.changePart(1);
				})
			}
			/**
			 * 左右滑动响应事件
			 * @param {Object} dir 0为向左滑 1为右滑
			 */
			function changePart(dir) {

			}
			/**
			 * 获取关注的人
			 * @param {Object} callback 回调方法
			 */
			function getFocusedPerson(callback) {
				if(!events.getUtid()) {
					var showFocusedPersen = myStorage.getItem(storageKeyName.SHOWFOCUSEPERSEN);
					if(showFocusedPersen && showFocusedPersen.length > 0) {
						callback(1);
					} else {
						callback(0);
					}
					return;
				}
				postDataPro_getFocusByUser({
					userId: events.getUtid()
				}, null, function(data) {
					if(data.RspCode == 0 && data.RspData.Users.length > 0) {
						callback(1);
					} else {
						callback(0);
					}
				})
			}
			/**
			 * 设置Vue组件
			 */
			function setVue() {
				showList = new Vue({
					el: '#show-list',
					router: router,
					data: {
						showInfo: {},
						hasAttended: 0,
						listData: []
					},
					created: function() {

					},
					watch: {
						'$route' (to, from) {
							this.setFindInfo(this.$route.params.id);
							console.log("当前router的id:" + this.$route.params.id);
							if(this.$route.params.id) {
								if(this.hasAttended) {
									this.setTitle(10);
								} else {
									this.setTitle(0);
								}
							} else {
								if(this.hasAttended) {
									this.setTitle(11);
								} else {
									console.log("邏輯錯誤")
								}
							}
						},
						hasAttended: function(newVal, oldVal) {
							console.log("有关注的人：" + newVal + ',旧值：' + oldVal);
						}
					},
					methods: {
						setFindInfo: function(type) { //0关注 1全部
							if(type) {
								this.showInfo = {
									pageFlag: 1, //全部
									acode: 1,
									aname: '全部',
									aflag: 1,
									pageIndex: 1,
									totalPage: 0
								}
							} else {
								this.showInfo = {
									pageFlag: 0, //关注
									acode: 1,
									aname: '关注',
									aflag: 1,
									pageIndex: 1,
									totalPage: 0
								}
							}

						},
						/**
						 * 设置标题
						 * @param {Object} type 0 只有全部 10 显示全部 11 显示关注
						 */
						setTitle: function(type) {
							var title = document.querySelector(".mui-title");
							var indicator = document.querySelector("#header-indicator");
							switch(type) {
								case 0: //全部
									title.innerText = "全部";
									indicator.style.display = "none";
									break;
								case 10: //全部
									title.innerText = "全部";
									indicator.style.display = "block";
									indicator.firstElementChild.className = "mui-indicator";
									indicator.lastElementChild.className = "mui-indicator mui-active";
									break;
								case 11: //关注
									title.innerText = "关注";
									indicator.style.display = "block";
									indicator.firstElementChild.className = "mui-indicator mui-active";
									indicator.lastElementChild.className = "mui-indicator";
									break;
								case 12:
									indicator.style.display = "block";
									break;
								default:
									break;
							}
						},
						changePart: function(dir) {
							if(this.hasAttended === 0) {
								return;
							}
							console.log("show-home2.html:" + this.$route.params.id);
							this.routerTo((this.$route.params.id + 1) % 2);
						},
						/**
						 * 路由跳转
						 * @param {Object} id 0关注 1全部
						 */
						routerTo: function(id) {
							console.log("要导向的id：" + id);
							router.replace({
								name: 'find',
								params: {
									id: id
								}
							})
						}
					}
				});
			}
		</script>
	</body>

</html>