<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>微学</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/utils/common.css" rel="stylesheet" />
		<link href="../../css/micro-course/course-list.css" rel="stylesheet" />
		<style>
			.mui-slider-indicator {
				margin-left: -10px;
				bottom: -3px;
			}
			
			.mui-slider-indicator .mui-indicator {
				margin: 1px 2px;
			}
			
			.mui-content>.mui-table-view:first-child {
				margin-top: 0;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">全部</h1>
			<div id="header-indicator" class="mui-slider-indicator display-none">
				<div class="mui-indicator"></div>
				<div class="mui-indicator mui-active"></div>
			</div>
		</header>
		<div id="pullrefresh" class="mui-content">
			<ul id="course-container" v-if="listData.length>0" class="mui-table-view">
				<li v-for="(li,index) of listData" class="mui-table-view-cell" v-on:tap="jumpToPage(li)" v-bind:id="li.TabId" v-bind:value="index">
					<div class="course-container">
						<div class="img-container"><img class="course-img" v-bind:src='li.CoursePic' />
							<span class="red-circle" v-bind:class="{'display-none':li.IsUpdate==0}"></span></div>
						<div class="course-detail">
							<div class="courseName-button">
								<p class="course-name single-line">{{li.CourseName}}</p>
								<button id="btn-focused" type="button" class="input-btn" v-bind:class="[li.IsFocus?'btn-focused':'btn-unfocus']" v-on:tap.stop="toggleFocus(li)">{{li.IsFocus?'已关注':'关注'}}</button>
							</div>
							<p class="course-info double-line">{{li.SecName}}</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/publicProtocol.js"></script>
		<script src="../../js/publicMicroClass.js"></script>
		<script src="../../js/micro-course/course-list.js"></script>
		<script type="text/javascript">
			var courseContainer;
			mui.init({
				keyEventBind: {
					backbutton: false //关闭back按键监听
				},
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style: 'circle',
						offset: 50,
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '上拉加载更多',
						callback: pullupRefresh
					}
				}
			});

			function pulldownRefresh() {
				console.log("下拉刷新中...")
				courseContainer.pulldown = true;
				console.log("show-home2要刷新的數值：", courseContainer.courseInfo);
				courseContainer.courseInfo.pageIndex = 1;
				courseContainer.requestData();
			}

			function pullupRefresh() {
				console.log("上拉加載更多...")
				if(courseContainer.courseInfo.pageIndex > courseContainer.courseInfo.totalPage) {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
					mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
				} else {
					courseContainer.pullup = true;
					courseContainer.requestData();
				}
			}

			mui.plusReady(function() {
				mui.fire(plus.webview.getLaunchWebview(), "indexReady");
				setVue();
				setListener();
			})

			function setVue() {
				courseContainer = new Vue({
					el: '#course-container',
					data: {
						courseType: -1, //0关注 1全部 默认为全部
						hasAttended: -1, //默认无关注的人
						listData: [],
						courseInfo: {
							type: this.courseType,
							pageIndex: 1,
							totalPage: 0
						},
						pulldown: false,
						pullup: false
					},
					created: function() {
						this.getAttendedClasses(this.setAttType);
					},
					watch: {
						courseType: function(newVal, oldVal) {
							console.log("course-home2界面當前課程類型：" + newVal);
							if(newVal) { //全部
								if(this.hasAttended) { //有关注
									this.setTitle(11);
								} else {
									this.setTitle(0);
								}
							} else { //关注
								if(this.hasAttended) {
									this.setTitle(10);
								} else {
									console.log("标题设置错误！");
								}
							}
							this.courseInfo.pageIndex = 1;
							this.courseInfo.type = newVal;
							this.requestData();
						},
						hasAttended: function(newVal, oldVal) {
							console.log("course-home获取的是否有关注的人：" + newVal + ",以前的值：" + oldVal);
							if(newVal) { //有关注
								if(this.courseType === 0) {
									this.setTitle(10);
								} else {
									this.setTitle(11);
								}
							} else {
								this.courseType = 1;
								this.setTitle(13);
							}
						}
					},
					methods: {
						setAttType: function(isFocused) {
							var com = this;
							console.log("course-home2获取的是否有关注的课程：" + isFocused);
							com.hasAttended = isFocused;
							if(isFocused) { //有关注
								com.setTitle(10); //设置标题为关注
							} else {
								com.setTitle(0); //设置标题为全部
							}
							if(isFocused) {
								com.courseType = 0;
							} else {
								com.courseType = 1;
							}
						},
						/**
						 * 获取关注的课程
						 * @param {Object} callback
						 */
						getAttendedClasses: function(callback) {
							if(events.getUtid()) {
								// 等待的对话框
								var wd = events.showWaiting();
								postDataMCPro_getAllFocusCourses({
									userId: events.getUtid(), //用户ID,登录用户
									pageIndex: 1, //当前页数
									pageSize: 1 //每页记录数,传入0，获取总记录数
								}, wd, function(data) {
									wd.close();
									console.log("course-home微课主界面：", data);
									if(data.RspCode == 0 && data.RspData.totalCount) {
										callback(1); //有关注的人
									} else {
										callback(0); //无关注的课程
									}
								})
							} else {
								if(myStorage.getItem(storageKeyName.FOCUSECOURSES) && myStorage.getItem(storageKeyName.FOCUSECOURSES).length > 0) {
									callback(1);
								} else {
									callback(0);
								}
							}

						},
						/**
						 * 设置标题
						 * @param {Object} type 0 只有全部 10 显示全部 11 显示关注
						 */
						setTitle: function(type) {
							var title = document.querySelector(".mui-title");
							var indicator = document.querySelector("#header-indicator");
							switch(type) {
								case 0: //全部
									title.innerText = "全部";
									indicator.style.display = "none";
									break;
								case 11: //全部
									title.innerText = "全部";
									indicator.style.display = "block";
									indicator.firstElementChild.className = "mui-indicator";
									indicator.lastElementChild.className = "mui-indicator mui-active";
									break;
								case 10: //关注
									title.innerText = "关注";
									indicator.style.display = "block";
									indicator.firstElementChild.className = "mui-indicator mui-active";
									indicator.lastElementChild.className = "mui-indicator";
									break;
								case 12:
									indicator.style.display = "block";
									break;
								case 13:
									indicator.style.display = "none";
									break;
								default:
									break;
							}
						},
						changePart: function(type) {
							if(!this.hasAttended) {
								return;
							}
							console.log("关注和全部页面的切换");
							this.courseType = (this.courseType + 1) % 2;
						},
						toggleFocus: function(course) {
							var com = this;
							if(!events.getUtid()) {
								events.toggleStorageArray(storageKeyName.FOCUSECOURSES, course.TabId, course.IsFocus);
								course.IsFocus = !course.IsFocus;
								com.changeAttended();
								return;
							}
							//所需参数
							var comData = {
								userId: events.getUtid(), //用户ID,登录用户
								courseId: course.TabId, //课程ID
								status: course.IsFocus ? 0 : 1 //关注状态，0 不关注，1 关注
							};

							//6.设置对某个课程关注
							postDataMCPro_setCourseFocus(comData, null, function(data) {
								//console.log('6.设置对某个课程关注:' + data.RspCode + ',RspData:' + JSON.stringify(data.RspData) + ',RspTxt:' + data.RspTxt);
								if(data.RspCode == 0) { //成功
									course.IsFocus = !course.IsFocus;
									com.changeAttended();
								} else {
									mui.toast(data.RspTxt);
								}
							});
						},
						changeAttended: function() {
							var com = this;
							com.getAttendedClasses(function(isFocused) {
								console.log("获取的是否有关注：" + isFocused);
								com.hasAttended = isFocused;
								console.log("获取的是否有关注：" + com.hasAttended);
								if(com.hasAttended && com.courseType === 0) {
									com.courseInfo.pageIndex = 1;
									com.requestData();
								}
							})

						},
						requestData: function() {
							var com = this;
							course_list.getData(com.courseInfo, function(data) {
								console.log("course-list2获取的数据", data);
								com.addData(data);
								//				mui(".mui-content").pullRefresh().endPulldown();
								//				mui(".mui-content").pullRefresh().refresh(true);
							}, function(err) {
								com.endFresh();
							})
						},
						endFresh: function() {
							if(this.pulldown) {
								mui("#pullrefresh").pullRefresh().endPulldown();
								mui("#pullrefresh").pullRefresh().refresh(true);
								this.pulldown = false;
							}
							if(this.pullup) {
								mui('#pullrefresh').pullRefresh().endPullupToRefresh();
								this.pullup = false;
							}
						},
						addData: function(data) {
							var com = this;
							data = data.map(function(course, index, data) {
								return com.isFocus(course);
							});
							console.log("微课加载的课程：", data);
							if(com.courseInfo.pageIndex === 1) {
								com.listData = [];
							}
							com.listData = com.listData.concat(data);
							com.courseInfo.pageIndex++;
							com.endFresh();
						},
						isFocus: function(course) {
							var isFocused = false;
							if(events.getUtid()) {
								isFocused = Boolean(course.IsFocus);
							} else {
								console.log("保存的数组：", myStorage.getItem(storageKeyName.FOCUSECOURSES))
								console.log("events的判断", events.isExistInStorageArray(storageKeyName.FOCUSECOURSES, parseInt(course.TabId))[1])
								isFocused = (parseInt(events.isExistInStorageArray(storageKeyName.FOCUSECOURSES, parseInt(course.TabId))[1]) >= 0);
								this.isUpdate(course);
							}
							course.IsFocus = isFocused;
							console.log("获取的课程关注信息:", course);
							return course;
						},
						isUpdate: function(course) {
							var courseTime = events.isExistInStorageMap(storageKeyName.COURSELASTTIME, course.TabId);
							//console.log("获取的更新时间：" + JSON.stringify(courseTime));
							if(courseTime) {
								if(courseTime < Date.parse(course.UpdateTime)) {
									course.IsUpdate = 1;
								} else {
									course.IsUpdate = 0;
								}
							} else {
								course.IsUpdate = 1;
							}
						},
						jumpToPage: function(course) {
							course.IsUpdate = 0;
							events.fireToPageNone("course-attended.html", "courseReaded", course.TabId);
							events.singleWebviewInPeriod(undefined, 'course_details.html', course);
							if(!events.getUtid()) {
								events.setValueInMap(storageKeyName.COURSELASTTIME, course.TabId, Date.now());
							}
						}
					}
				});
			}

			function setListener() {
				//信息更新
				window.addEventListener("infoChanged", function() {
					courseContainer.getAttendedClasses(courseContainer.setAttType);
				})
				//course-info
				window.addEventListener('t-focus', function() {
					courseContainer.changeAttended();
					courseContainer.courseInfo.pageIndex = 1;
					courseContainer.requestData();
				})
				//左滑
				window.addEventListener("swipeleft", function(e) {
					console.log("course-home2.html的向左滑动事件");
					courseContainer.changePart(1);
				})
				//右滑
				window.addEventListener("swiperight", function(e) {
					console.log("course-home2.html的向右滑动事件");
					courseContainer.changePart(1);
				})
			}
		</script>
	</body>

</html>