header .icon-xiangji:before{
	margin-right: .5rem;
}
/**
 * 弹出菜单样式
 */
.mui-popover{
	position: fixed;
	top:0.5rem;
	right: 0.5rem;
	z-index: 999;
	width: 8rem;
}
/**
 * 发布作业按钮
 */
.icon-jia{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 666;
	font-size: 2rem;
	color: saddlebrown;
	background-color: orange;
	border-radius: 50%;
	padding: .5rem;
}

.mui-segmented-control {
	font-size: 14px;
	border: 0px solid gray;
	background-color: transparent;
}
.icon-yuwen{
	color: #46B1CA;
}
.icon-shuxue{
	color: #D46B44;
}
.icon-yingyu{
	color: #66B03C;
}
.icon-lishi{
	color: #3A84F2;
}
.icon-zhengzhi{
	color: #32A697;
}
.icon-dili{
	color: #3290BD;
}
.icon-shengwu{
	color: #7D5AC8;
}
.icon-huaxue{
	color: #DF60A1;
}
.icon-wuli{
	color: #CB8939;
}
.icon-qita{
	color: #F54D55;
}
.subject-icon{
	display: inline-block;
	padding: 1rem;
	font-size: 4rem;
	width: 20%;
}
.header-words{
	display: inline-block;
	width: 76%;
}
.homework-bottom p{ 
	 display: inline-block;
	 padding-left: 1rem;
}

