/**
 * 提交评论按钮样式
 */
.btn-submit{
	/*position: absolute;*/
	margin-left: 25%;
	width: 50%;
	height: 4rem;
	font-size: 2rem;
	border-radius: 2rem;
	margin-bottom: 2rem;
}
.comment-area{
	border: solid thin lightgray;
}
.homework-container{
	min-height: 20rem;
}
.result-text{
	min-height: 4rem;
}
.stuInfo-img{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}
