header .icon-xiangji:before{
	margin-right: .5rem;
}
/**
 * 弹出菜单样式
 */
.mui-popover{
	position: fixed;
	top:0.5rem;
	right: 0.5rem;
	z-index: 999;
	width: 12rem;
}
/**
 * 发布作业按钮
 */
.icon-jia{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 666;
	font-size: 4rem;
	color: saddlebrown;
	background-color: orange;
	border-radius: 50%;
	padding: .5rem;
}

.mui-segmented-control {
	font-size: 14px;
	border: 0px solid gray;
	background-color: transparent;
}

.header-words{
	display: inline-block;
	width: 76%;
}
.homework-bottom p{ 
	 display: inline-block;
	 padding-left: 1rem;
}
.mui-table-view-cell{
	background-repeat: no-repeat;
	background-position: right;
}
.isCommentedBG{
	background-image: url(../../image/homework/commented.gif);
}
.isSubmitted{
	background-image: url(../../image/homework/submitted.png);
}
.submitOnline{
	background-image: url(../../image/homework/need-submit.png);
}
