/**
 * 提交评论按钮样式
 */
html,body,.mui-content{
	background-color: white;
}
.btn-submit{
	/*position: absolute;*/
	margin-left: 5%;
	width: 90%;
	height: 4rem;
	margin-bottom: 1rem;
	background-color: #1DB8F1;
	border-color:  #1DB8F1;
}
.comment-area{
	margin-top: 1rem;
	border: solid thin lightgray;
}
.homework-container{
	min-height: 20rem;
}
.comment-item{
	background-color:#f2f3f5 ;
	padding: .5rem 1rem;
	/*margin:-1rem,0 ;*/
	margin: 0 -1rem;
	color: #383838;
}
.result-text{
	min-height: 4rem;
}
.mui-scroll{
	padding: 1rem;
}
.stuInfo-img{
	display: inline-block;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin-right: 1rem;
	max-width: 20%;
}
.stuInfo-words{
	display: inline-block;
	width: 80%;
}
.student-info{
	padding-top: 1rem;
}
.answer-img{
	padding: .5rem;
}
.homework-info p,.stu-name{
	color: #404040;
}
.the-line{
	height:1px;
	background-color: #DEDFE0;
	margin: 0 -1rem;
/*	border-bottom: solid 1px ;*/
}
.homework-info,.result-text{
	padding: 15px 0;
}


