/**
 * 发布作业附件图标区域
 */
.publish-extras{
	text-align: center;
	padding: 1rem 0;
	background-color: #DDDDDD;
}
/**
 * 发布作业附件 图标
 */
.publish-extras a{
	font-size: 2rem;
	width: 30%;
}
/**
 * 提交字体大小
 */
.header-publish:last-of-type{
	font-size: 1.2rem;
}
