a img{
	width: 4rem;
	vertical-align: middle;
}
.div-chose{
	display: inline-block;
	width: 32%;
	text-align: center;
	font-size: 1.6rem;
}
/*.div-chose input{
	position: relative;
	float: left;
}*/
.btn-sure{
	margin-left: 30%;
	width: 20%;
}
.btn-cancel{
	width: 20%;
}
fieldset{
	background: transparent;
	border: none;
}
legend{
	font-size: 2rem;
	padding: 1rem;
	padding-bottom: 1.5rem;
}
.buttons{
	padding-top: 1.5rem;
}
.mui-popover{
	width: 90%;
}
a p{
	display: inline-block;
	float: right;
}
