.search-form .mui-input-row {
	line-height: 2rem;
}

.search-form .search-btn {
	line-height: 3rem;
	padding: 6px 0;
	display: inline;
}
.mui-btn-blue,
.mui-btn-primary,
input[type=submit]:enabled:active {
	color: #fff;
	border: #13b7f6;
	background-color: #13b7f6;
	font-size: 1.5rem;
	font-weight: bold;
}
.search-form input:nth-child(1) {
	width: 87%;
	background-color: #ffffff;
	text-align: left;
	border-radius: 50px;
	padding: 0 15px;
	color: #000000;
}

.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
	color: #fff;
	border: #13b7f6;
	background-color: #13b7f6;
	font-size: 1.5rem;
	font-weight: bold;
}
a img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	vertical-align: middle;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

.mui-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.div-chose {
	display: inline-block;
	width: 32%;
	text-align: center;
	font-size: 1.6rem;
}


/*.div-chose input{
	position: relative;
	float: left;
}*/

.btn-sure {
	margin-left: 30%;
	width: 20%;
}

.btn-cancel {
	width: 20%;
}

fieldset {
	background: transparent;
	border: none;
}

legend {
	font-size: 2rem;
	padding: 1rem;
	padding-bottom: 1.5rem;
}

.buttons {
	padding-top: 1.5rem;
}

.mui-popover {
	width: 90%;
}

a>p {
	display: inline-block;
	float: right;
}

.apply-message{
	margin-right: 28px;
}
.search-input{
	max-width: 80%;
}
.search-form{
	padding:.5rem .5rem;
}
.search-btn{
	height: 33px;
}
.mui-search .mui-placeholder {
	text-align: left;
	padding-left: .5rem;
	font-size: 1.5rem;
}
.mui-input-row .mui-input-clear~.mui-icon-clear{
	right: 20%;
}
