/*头像圆角、宽度*/
.head-portrait{
	border-radius: 50%;
	width: 30%;
}
/*四个cell钟，图标的颜色*/
.app-icon{
	color:lightskyblue;
}
.record-icon{
	color: mediumspringgreen;
}
.set-icon{
	color:lightskyblue;
}
.about-icon{
	color: orange;
}
