.head-portrait{
	border-radius: 50%;
	width: 30%;
}
.app-icon{
	color:lightskyblue;
}
.record-icon{
	color: mediumspringgreen;
}
.set-icon{
	color:lightskyblue;
}
.about-icon{
	color: orange;
}
